<h1>Add Product to Meal</h1>

<%= form_with(model: [@meal, @consumed_product], url: create_consumed_product_meal_path(@meal), method: :post) do |form| %>
  <%= render 'error_messages', object: @consumed_product %>

  <div>
    <%= form.label :product_id %>
    <%= select_tag 'consumed_product[product_id]', options_for_select(@products.map { |product| [ "#{product.name} (#{product.calories_count} calories)", product.id ] }), prompt: 'Select Product' %>
  </div>

  <div>
    <%= form.submit 'Add Product to Meal' %>
  </div>
<% end %>
