<h2>Meals</h2>
<%= form_tag(meals_path, method: :get) do %>
  <%= text_field_tag :search, params[:search], placeholder: 'Search by name' %>
  <%= submit_tag 'Search', class: 'mb-3' %>
<% end %>


<% @meals.each do |meal| %>
  <h1><%= meal.name %></h1>
  <h2><strong>Date:</strong> <%= meal.date %><h2>

  <%= link_to 'show this meal', meal_path(meal), class: 'btn btn-success btn-lg' %>
  <%= link_to 'edit', edit_meal_path(meal), class: 'btn btn-outline-secondary btn-lg' %>
  <%= button_to 'delete', meal, method: :delete, class: 'btn btn-dark btn-lg' %>
<% end %>
