<h1>New Meal</h1>

<%= form_with(model: @meal, url: meals_path, method: :post) do |form| %>
  <%= render 'error_messages', object: @meal %>

  <div>
    <h2><%= form.label :name %></h2>
    <h2><%= form.text_field :name %></h2>
  </div>

  

  <div>
    <h2><%= form.label :date %></h2>  
    <h2><%= form.date_field :date %></h2>
  </div>

  <div>
    <h2><%= form.submit 'Create Meal' ,class:'  btn btn-info btn-lg'%></h2>
  </div>
<% end %>
