<h1><%= @meal.name %></h1>

<p><strong>Total Calories: </strong><%= @total_calories %> </p>
<p><strong>Date:</strong> <%= @meal.date %></p>

<h2>Products</h2>
<% if @consumed_products.any? %>
  <ul>
    <% @consumed_products.each do |consumed_product| %>
      <li>
        <%= consumed_product.product.name %> - <%= consumed_product.quantity %> calories
        <%= button_to 'Delete', destroy_consumed_product_meal_path(@meal, consumed_product), method: :delete, data: { confirm: 'Are you sure?' } %>

      </li>
    <% end %>
  </ul>
<% else %>
  <p>No consumed products for this meal.</p>
<% end %>

<%= link_to 'Add Product', add_product_meal_path(@meal) %>
<%= link_to 'Generate PDF', generate_pdf_meal_path(@meal, format: :pdf), class: 'btn btn-primary' %>
<%= link_to 'Back', meals_path ,class: "btn btn-primary"%>
